# HIMPUNAN DATA

In [1]:
import numpy as np 
import matplotlib.pyplot as plt 
import matplotlib.colors as mcolors
import pandas as pd 
import seaborn as sns
#import plotly.graph_objs as go
%matplotlib inline

## IDR to USD

In [12]:
df_idr = pd.read_excel('E:/Data_Urang/Informatics_Research_Centre/project-covid/Perekonomian/usd_idr_6juli_25juli.xlsx')
df_idr

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-07-06,14507.000000,14530.000000,14443.500000,14495.000000,14495.000000,0
1,2021-07-07,14568.700195,14568.700195,14468.299805,14568.700195,14568.700195,0
2,2021-07-08,14569.200195,14599.700195,14506.200195,14569.200195,14569.200195,0
3,2021-07-09,14618.700195,14618.700195,14479.599609,14618.700195,14618.700195,0
4,2021-07-10,14618.700195,14618.700195,14479.599609,14618.700195,14618.700195,0
5,2021-07-11,14618.700195,14618.700195,14479.599609,14618.700195,14618.700195,0
6,2021-07-12,14521.000000,14525.000000,14466.099609,14521.000000,14521.000000,0
7,2021-07-13,14557.500000,14557.500000,14439.500000,14558.500000,14558.500000,0
8,2021-07-14,14537.299805,14539.799805,14453.500000,14542.099609,14542.099609,0
9,2021-07-15,14525.200195,14528.599609,14420.540039,14473.000000,14473.000000,0
10,2021-07-16,14560.000000,14560.000000,14426.900391,14563.000000,14563.000000,0
11,2021-07-17,14560.000000,14560.000000,14426.900391,14563.000000,14563.000000,0
12,2021-07-18,14560.000000,14560.000000,14426.900391,14563.000000,14563.000000,0
13,2021-07-19,14491.000000,14581.299805,14477.500000,14491.000000,14491.000000,0
14,2021-07-20,14589.700195,14664.799805,14524.700195,14664.500000,14664.500000,0
15,2021-07-21,14551.000000,14560.500000,14477.400391,14620.000000,14620.000000,0
16,2021-07-22,14530.200195,14530.200195,14472.500000,14536.000000,14536.000000,0
17,2021-07-23,14548.700195,14548.700195,14435.459961,14548.700195,14548.700195,0
18,2021-07-24,14548.700195,14548.700195,14435.459961,14548.700195,14548.700195,0
19,2021-07-25,14548.700195,14548.700195,14435.459961,14548.700195,14548.700195,0

In [13]:
col = ['date','idr_open','idr_high','idr_low','idr_close','adj_closes', 'volume']

df_idr.columns = col
df_idr

,date,idr_open,idr_high,idr_low,idr_close,adj_closes,volume
0,2021-07-06,14507.000000,14530.000000,14443.500000,14495.000000,14495.000000,0
1,2021-07-07,14568.700195,14568.700195,14468.299805,14568.700195,14568.700195,0
2,2021-07-08,14569.200195,14599.700195,14506.200195,14569.200195,14569.200195,0
3,2021-07-09,14618.700195,14618.700195,14479.599609,14618.700195,14618.700195,0
4,2021-07-10,14618.700195,14618.700195,14479.599609,14618.700195,14618.700195,0
5,2021-07-11,14618.700195,14618.700195,14479.599609,14618.700195,14618.700195,0
6,2021-07-12,14521.000000,14525.000000,14466.099609,14521.000000,14521.000000,0
7,2021-07-13,14557.500000,14557.500000,14439.500000,14558.500000,14558.500000,0
8,2021-07-14,14537.299805,14539.799805,14453.500000,14542.099609,14542.099609,0
9,2021-07-15,14525.200195,14528.599609,14420.540039,14473.000000,14473.000000,0
10,2021-07-16,14560.000000,14560.000000,14426.900391,14563.000000,14563.000000,0
11,2021-07-17,14560.000000,14560.000000,14426.900391,14563.000000,14563.000000,0
12,2021-07-18,14560.000000,14560.000000,14426.900391,14563.000000,14563.000000,0
13,2021-07-19,14491.000000,14581.299805,14477.500000,14491.000000,14491.000000,0
14,2021-07-20,14589.700195,14664.799805,14524.700195,14664.500000,14664.500000,0
15,2021-07-21,14551.000000,14560.500000,14477.400391,14620.000000,14620.000000,0
16,2021-07-22,14530.200195,14530.200195,14472.500000,14536.000000,14536.000000,0
17,2021-07-23,14548.700195,14548.700195,14435.459961,14548.700195,14548.700195,0
18,2021-07-24,14548.700195,14548.700195,14435.459961,14548.700195,14548.700195,0
19,2021-07-25,14548.700195,14548.700195,14435.459961,14548.700195,14548.700195,0

In [14]:
df_idr.corr().abs()

            idr_open  idr_high   idr_low  idr_close  adj_closes  volume
idr_open    1.000000  0.751652  0.370562   0.853038    0.853038     NaN
idr_high    0.751652  1.000000  0.725704   0.798852    0.798852     NaN
idr_low     0.370562  0.725704  1.000000   0.577203    0.577203     NaN
idr_close   0.853038  0.798852  0.577203   1.000000    1.000000     NaN
adj_closes  0.853038  0.798852  0.577203   1.000000    1.000000     NaN
volume           NaN       NaN       NaN        NaN         NaN     NaN

In [16]:
df_idr = df_idr.drop(['idr_open', 'volume', 'idr_low', 'adj_closes'], axis=1)

In [18]:
df_idr

          date      idr_high     idr_close
0   2021-07-06  14530.000000  14495.000000
1   2021-07-07  14568.700195  14568.700195
2   2021-07-08  14599.700195  14569.200195
3   2021-07-09  14618.700195  14618.700195
4   2021-07-10  14618.700195  14618.700195
5   2021-07-11  14618.700195  14618.700195
6   2021-07-12  14525.000000  14521.000000
7   2021-07-13  14557.500000  14558.500000
8   2021-07-14  14539.799805  14542.099609
9   2021-07-15  14528.599609  14473.000000
10  2021-07-16  14560.000000  14563.000000
11  2021-07-17  14560.000000  14563.000000
12  2021-07-18  14560.000000  14563.000000
13  2021-07-19  14581.299805  14491.000000
14  2021-07-20  14664.799805  14664.500000
15  2021-07-21  14560.500000  14620.000000
16  2021-07-22  14530.200195  14536.000000
17  2021-07-23  14548.700195  14548.700195
18  2021-07-24  14548.700195  14548.700195
19  2021-07-25  14548.700195  14548.700195

## IHSG Index DKI Jakarta

In [17]:
df_ihsg = pd.read_excel('E:\Data_Urang\Informatics_Research_Centre\project-covid\Perekonomian/ihsg_index_6juli_25juli.xlsx')
df_ihsg

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-07-06,6015.581055,6054.607910,6013.062012,6047.110840,6047.110840,161021000
1,2021-07-07,6062.769043,6066.994141,6022.305176,6044.037109,6044.037109,165513600
2,2021-07-08,6052.804199,6080.222168,6028.607910,6039.895996,6039.895996,159513500
3,2021-07-09,6037.003906,6060.541016,6026.547852,6039.844238,6039.844238,136425200
4,2021-07-10,6037.003906,6060.541016,6026.547852,6039.844238,6039.844238,136425200
5,2021-07-11,6037.003906,6060.541016,6026.547852,6039.844238,6039.844238,136425200
6,2021-07-12,6060.054199,6097.120117,6055.985840,6078.567871,6078.567871,135385400
7,2021-07-13,6097.229004,6114.286133,6004.821777,6012.032227,6012.032227,172635900
8,2021-07-14,6008.241211,6013.041992,5947.618164,5979.214844,5979.214844,138499900
9,2021-07-15,5986.649902,6046.753906,5982.804199,6046.753906,6046.753906,141035200
10,2021-07-16,6063.421875,6079.139160,6051.757813,6072.509766,6072.509766,129367700
11,2021-07-17,6063.421875,6079.139160,6051.757813,6072.509766,6072.509766,129367700
12,2021-07-18,6063.421875,6079.139160,6051.757813,6072.509766,6072.509766,129367700
13,2021-07-19,6062.965820,6063.646973,6015.148926,6017.394043,6017.394043,123010800
14,2021-07-20,6062.965820,6063.646973,6015.148926,6017.394043,6017.394043,123010800
15,2021-07-21,6034.571777,6053.192871,6020.863770,6029.976074,6029.976074,153050600
16,2021-07-22,6057.541016,6137.546875,6057.541016,6137.546875,6137.546875,178417800
17,2021-07-23,6145.761230,6166.305176,6090.603027,6101.689941,6101.689941,143269200
18,2021-07-24,6145.761230,6166.305176,6090.603027,6101.689941,6101.689941,143269200
19,2021-07-25,6145.761230,6166.305176,6090.603027,6101.689941,6101.689941,143269200

In [21]:
col = ['date','ihsg_open','ihsg_high','ihsg_low','ihsg_close','adj_closes', 'volume']

df_ihsg.columns = col
df_ihsg

,date,ihsg_open,ihsg_high,ihsg_low,ihsg_close,adj_closes,volume
0,2021-07-06,6015.581055,6054.607910,6013.062012,6047.110840,6047.110840,161021000
1,2021-07-07,6062.769043,6066.994141,6022.305176,6044.037109,6044.037109,165513600
2,2021-07-08,6052.804199,6080.222168,6028.607910,6039.895996,6039.895996,159513500
3,2021-07-09,6037.003906,6060.541016,6026.547852,6039.844238,6039.844238,136425200
4,2021-07-10,6037.003906,6060.541016,6026.547852,6039.844238,6039.844238,136425200
5,2021-07-11,6037.003906,6060.541016,6026.547852,6039.844238,6039.844238,136425200
6,2021-07-12,6060.054199,6097.120117,6055.985840,6078.567871,6078.567871,135385400
7,2021-07-13,6097.229004,6114.286133,6004.821777,6012.032227,6012.032227,172635900
8,2021-07-14,6008.241211,6013.041992,5947.618164,5979.214844,5979.214844,138499900
9,2021-07-15,5986.649902,6046.753906,5982.804199,6046.753906,6046.753906,141035200
10,2021-07-16,6063.421875,6079.139160,6051.757813,6072.509766,6072.509766,129367700
11,2021-07-17,6063.421875,6079.139160,6051.757813,6072.509766,6072.509766,129367700
12,2021-07-18,6063.421875,6079.139160,6051.757813,6072.509766,6072.509766,129367700
13,2021-07-19,6062.965820,6063.646973,6015.148926,6017.394043,6017.394043,123010800
14,2021-07-20,6062.965820,6063.646973,6015.148926,6017.394043,6017.394043,123010800
15,2021-07-21,6034.571777,6053.192871,6020.863770,6029.976074,6029.976074,153050600
16,2021-07-22,6057.541016,6137.546875,6057.541016,6137.546875,6137.546875,178417800
17,2021-07-23,6145.761230,6166.305176,6090.603027,6101.689941,6101.689941,143269200
18,2021-07-24,6145.761230,6166.305176,6090.603027,6101.689941,6101.689941,143269200
19,2021-07-25,6145.761230,6166.305176,6090.603027,6101.689941,6101.689941,143269200

In [22]:
df_ihsg.corr().abs()

            ihsg_open  ihsg_high  ihsg_low  ihsg_close  adj_closes    volume
ihsg_open    1.000000   0.901410  0.799928    0.541028    0.541028  0.038430
ihsg_high    0.901410   1.000000  0.854158    0.784365    0.784365  0.252393
ihsg_low     0.799928   0.854158  1.000000    0.860486    0.860486  0.031459
ihsg_close   0.541028   0.784365  0.860486    1.000000    1.000000  0.179968
adj_closes   0.541028   0.784365  0.860486    1.000000    1.000000  0.179968
volume       0.038430   0.252393  0.031459    0.179968    0.179968  1.000000

In [24]:
df_ihsg = df_ihsg.drop(['ihsg_open', 'volume', 'adj_closes'], axis=1)
df_ihsg

          date    ihsg_high     ihsg_low   ihsg_close
0   2021-07-06  6054.607910  6013.062012  6047.110840
1   2021-07-07  6066.994141  6022.305176  6044.037109
2   2021-07-08  6080.222168  6028.607910  6039.895996
3   2021-07-09  6060.541016  6026.547852  6039.844238
4   2021-07-10  6060.541016  6026.547852  6039.844238
5   2021-07-11  6060.541016  6026.547852  6039.844238
6   2021-07-12  6097.120117  6055.985840  6078.567871
7   2021-07-13  6114.286133  6004.821777  6012.032227
8   2021-07-14  6013.041992  5947.618164  5979.214844
9   2021-07-15  6046.753906  5982.804199  6046.753906
10  2021-07-16  6079.139160  6051.757813  6072.509766
11  2021-07-17  6079.139160  6051.757813  6072.509766
12  2021-07-18  6079.139160  6051.757813  6072.509766
13  2021-07-19  6063.646973  6015.148926  6017.394043
14  2021-07-20  6063.646973  6015.148926  6017.394043
15  2021-07-21  6053.192871  6020.863770  6029.976074
16  2021-07-22  6137.546875  6057.541016  6137.546875
17  2021-07-23  6166.305176  6090.603027  6101.689941
18  2021-07-24  6166.305176  6090.603027  6101.689941
19  2021-07-25  6166.305176  6090.603027  6101.689941

In [27]:
df_economy = pd.merge(df_idr, df_ihsg, left_index=True, right_index=True)
df_economy = df_economy.drop(['date_x', 'date_y'], axis=1)

df_economy

        idr_high     idr_close    ihsg_high     ihsg_low   ihsg_close
0   14530.000000  14495.000000  6054.607910  6013.062012  6047.110840
1   14568.700195  14568.700195  6066.994141  6022.305176  6044.037109
2   14599.700195  14569.200195  6080.222168  6028.607910  6039.895996
3   14618.700195  14618.700195  6060.541016  6026.547852  6039.844238
4   14618.700195  14618.700195  6060.541016  6026.547852  6039.844238
5   14618.700195  14618.700195  6060.541016  6026.547852  6039.844238
6   14525.000000  14521.000000  6097.120117  6055.985840  6078.567871
7   14557.500000  14558.500000  6114.286133  6004.821777  6012.032227
8   14539.799805  14542.099609  6013.041992  5947.618164  5979.214844
9   14528.599609  14473.000000  6046.753906  5982.804199  6046.753906
10  14560.000000  14563.000000  6079.139160  6051.757813  6072.509766
11  14560.000000  14563.000000  6079.139160  6051.757813  6072.509766
12  14560.000000  14563.000000  6079.139160  6051.757813  6072.509766
13  14581.299805  14491.000000  6063.646973  6015.148926  6017.394043
14  14664.799805  14664.500000  6063.646973  6015.148926  6017.394043
15  14560.500000  14620.000000  6053.192871  6020.863770  6029.976074
16  14530.200195  14536.000000  6137.546875  6057.541016  6137.546875
17  14548.700195  14548.700195  6166.305176  6090.603027  6101.689941
18  14548.700195  14548.700195  6166.305176  6090.603027  6101.689941
19  14548.700195  14548.700195  6166.305176  6090.603027  6101.689941

In [28]:
df_economy.to_excel('E:\Data_Urang\Informatics_Research_Centre\project-covid\Perekonomian\df_economy.xls')

<ipython-input-28-ec35f037c0a6>:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df_economy.to_excel('E:\Data_Urang\Informatics_Research_Centre\project-covid\Perekonomian\df_economy.xls')